.navbar-default{
  background-color:#a9c5f2;
  font-size: 18px;
  font-family: 'Cabin Condensed', sans-serif;
  height: 55px;
}

#tweet{
 font-size: 22px;
 text-align: justify;
 text-justify: inter-word;
 font-family: 'Cinzel-Bold', serif;



}

body{
  background-color:#a9c5f2;
  font-size: 18px;
  font-family: 'Cinzel-Bold', serif;


}

#tweetdetails{
font-size: 14px;
font-family: 'Cabin Condensed', sans-serif;

}

#username{
font-size: 20px;
font-family: 'Pacifico', cursive;
margin-left: -5px;

text-transform: uppercase;
border: 1px;

}


textarea.form-control{

  font-size: 14px;
  font-family: 'Pacifico', cursive;
  border-color: #337ab7;
  resize: none;



}


#searchtext{
  font-size: 14px;
  font-family: 'Pacifico', cursive;
  border-color: #337ab7;
}



.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding:1px;
  margin: 0px 0px 0px 0px;
  width: auto;
  border-radius: 20px;
}

#a{

  text-align: center;
}

#userdetail{
  font-size: 20px;
  font-family: 'Pacifico', cursive;


  text-transform: uppercase;

}

#button{
  border-radius: 100px;

}

#tweetdetail{
  font-size: 22px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Cinzel-Bold', serif;
}


#tweetme {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  color: #023689;
}

#profilemargin{
  margin-top: -12px;

}
#usernamelink{
  text-decoration: none;


  }

#tweetCharsLeft{
  margin-top: 5px;
  margin-left: 10px;

}

#decoration{
  text-decoration: none;
}
